<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AdminContactUs</title>
    <style>
        @media only screen and (max-width: 600px) {
            html {
                overflow-x: hidden;
            }

            body {
                overflow-x: hidden;
            }

            table {
                table-layout: fixed;
            }
        }
    </style>
</head>
<body style="font-family: sans-serif; ">
<table style="width:100%;max-width:600px;margin: 0 auto;   padding: 10px;background-color: #002366;border-spacing: 0px;">
    <tbody>
    <tr style="width: 100%; background-color: #002366;">
        <td style="width: 100%; ;margin-top:20px">
            <a target="blank" href="https://www.homeinabroad.com">
                <img alt="Homeinabroad" style="margin:26px 0; width: 125px;"
                     src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/white-logo.png">
            </a>
        </td>
    </tr>
    <tr style="width: 100%; background-color:white;">
        <td style="width: 100%; text-align:center;">
            <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/adminSupport.jpg"
                 style="width: 75%; margin: 8px 26px 20px 26px;"/>
        </td>
    </tr>
    <tr>
        <td style="width:100%; text-align:left; background-color:white;">
            <p style="font-size:18px;color:black;    margin: 0px 0px 10px 20px;">Hi admin, </p>
            <p style="font-size:18px;color:black;    margin: 0px 0px 0px 20px;"> Someone has contacted with us. Find the
                user's details attached below.</p>
        </td>
    </tr>
    <tr>
        <td style="width:100%;text-align:left;background-color:white;">
            <p style="font-size:18px;color:black;margin:15px 0px 20px 20px;line-height: 23px;">First Name: {{ first_name }}<br>
                Last Name: {{ last_name }}<br>
                Contact Number: {{ contact_number }}<br>
                Email : {{ email }}<br>
                University Name: {{ university }}<br>
                Lead Source: {{ lead_source }}<br>
                Budget: {{ message }}<br>
                Room Type: {{ room_type }}<br>
                Message: {{ message }}
            </p>

        </td>
    </tr>

    <tr style="background-color: #002366; display: flex;width: 100%;;">
        <td style="width:50%;">
            <a target="blank" href="https://www.homeinabroad.com">
                <img alt="Homeinabroad" style="margin:26px 0 0 0; width: 80px"
                     src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/white-logo.png">
            </a>
            <p style="text-align: justify;color:white;font-size: 10px; margin:20px 20px 0px 0px">Homeinabroad is one
                stop solutions for student accommodation. We are not just the accommodation provider, we are a
                company that will support in every steps till you get settled in your accommodations. We have different
                types of accommodations,
                starting from PBSA to shared apartments to singe private room for long as well as short term stay.</p>
        </td>

        <td style="width: 50%;text-align: center;">
            <p style="font-size: 11px;    margin: 80px 20px 20px 30px;color: white;">

                Write us at : support@homeinabroad.com</p>
            <a href="https://www.instagram.com/homeinabroad/" target="blank" style="text-decoration: none;">
                <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/Instagram.svg">
            </a>
            <a href="https://www.facebook.com/Homeinabroad-100236905128631" target="blank"
               style="text-decoration: none;">
                <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/Facebook.svg">
            </a>
            <p style="font-size: 11px;opacity: 0.8; padding-bottom: 5%;margin-top:5px;color: white;">&copy;2020 Home in
                Abroad Inc. | <a href="https://www.homeinabroad.com/terms-and-privacy"
                                 target="blank" style="text-decoration: none;color:white">Terms & Privacy</a></p>
        </td>

    </tr>
    </tbody>
</table>

</body>
</html>