<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Mailer</title>
    <style>
        @media only screen and (max-width: 600px) {
            html {
                overflow-x: hidden;
            }

            body {
                overflow-x: hidden;
            }

            table {
                table-layout: fixed;
            }
        }
    </style>
</head>
<body style="font-family: sans-serif; ">
<table style="width:100%;max-width:600px;margin: 0 auto;   padding: 0px 10px;background-color: #002366;border-spacing: 0px;">
    <tab>
    <tr style="width: 100%; background-color: #002366;">
        <td style="width: 100%; ;margin-top:20px">
            <a target="blank" href="https://www.homeinabroad.com">
                <img alt="Homeinabroad" style="margin:26px 0; width: 125px;"
                     src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/white-logo.png">
            </a>
        </td>
    </tr>

    <tr style="background-color: white;">
        <td style="text-align: center;margin-top:20px">
            <p style=" font-size: 20px; margin: 26px 26px 0 0px; text-align: center; font-weight: 900;">Thank you for
                booking with us</p>
            <hr style=" background-color: #f41950;border: none;height: 3px;width: 15%; "></hr>
        </td>
    </tr>

    <tr style="background-color: white;">
        <td>
            <p style="font-size: 16px;text-align: center;margin: 0px 0px 20px 0px;line-height: 25px; ">
                <b>Please find your current booking details below</b><br>

            </p>

    </tr>

    <tr style="width: 100%; background-color: white;">
        <table style="width:100%;max-width:600px;margin: 0 auto; padding: 0 8px;background-color: #002366; text-align: center;">
            <tr style="background-color: white; ;">
                <td style="text-align: center; font-weight: bold;padding: 7px">Name</td>
                <td style="text-align: center;padding: 7px">{{ first_name }} {{ last_name }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px">Property</td>
                <td style="text-align: center;padding: 7px">{{ property }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Room Category</td>
                <td style="text-align: center;padding: 7px">{{ room_category }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Room Type</td>
                <td style="text-align: center;padding: 7px">{{ room_type }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Tenancy</td>
                <td style="text-align: center;padding: 7px">{{ tenancy }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Check-In Date</td>
                <td style="text-align: center;padding: 7px">{{ check_in_date }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Check-Out Date</td>
                <td style="text-align: center;padding: 7px">{{ checkout_date }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Price</td>
                <td style="text-align: center;padding: 7px">{{ bed_price }}</td>
            </tr>
            <tr style="background-color: white; padding: 30px;">
                <td style="text-align: center; font-weight: bold;padding: 7px"> Booking Status:</td>
                <td style="text-align: center;padding: 7px">IN-PROCESS</td>
            </tr>
        </table>
    </tr>

    <table style="width:100%;max-width:600px;margin: 0 auto;   padding: 0px 10px;background-color: #002366;border-spacing: 0px;">
        {% if is_guest %}
            <tr style="background-color: white;width: 100%;;">
                <td>
                    <p style=" font-size: 16px; margin: 10px 26px 0 26px;text-align: justify;line-height: 25px;">
                        Click on the below link and reset your password to view your bookings.
                    </p>
                    <p style=" font-size: 16px; margin: 10px 26px 0 26px;text-align: justify;line-height: 25px;">
                        <a href="https://www.homeinabroad.com/retrieve-password/?token={{ token }}"
                           target="blank">Reset Password</a>
                    </p>

                    <p style="font-size: 16px;text-align: center;margin:20px 0 0 0 ;font-weight: 900;">One of our expert
                        will contact you shortly
                    </p> <br>
                </td>
            </tr>
        {% else %}
            <tr style="background-color: white;width: 100%;;">
                <td>
                    <p style=" font-size: 16px; margin: 10px 26px 0 26px;text-align: justify;line-height: 25px;">
                        You can
                        check your booking history by logging in to your account.</p>
                    <p style=" font-size: 16px; margin: 10px 26px 0 26px;text-align: justify;line-height: 25px;">
                        Login Url: &nbsp;
                        <a href="https://www.homeinabroad.com/login"
                           target="blank">"https://www.homeinabroad/login"</a>
                    </p>

                    <p style="font-size: 16px;text-align: center;margin:20px 0 0 0 ;font-weight: 900;">One of our expert
                        will contact you shortly
                    </p> <br>
                </td>
            </tr>
        {% endif %}

        <tr style="background-color: white; text-align: center;;width: 100%;;">
            <td>
                <p style="font-size: 20px;margin: 0 0 20px 0; color:#f41950;font-weight: 800; font-style: italic;">Our
                    reputations around the globe! </p>
            </td>
        </tr>

        <tr style="background-color: white; text-align: center;display: flex;width: 100%;;">
            <td style="width:25%;">
                <img style="width: 80%;border-radius: 50%; margin: 0 0 0 15px;"
                     src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/girl.jpg"><br>
                <p style="font-size: 16px;margin: 10px 0 0 15px; color:#f41950;font-weight: 800;">Sophia Saldon </p>
            </td>

            <td style="width: 75%;">
                <p style="font-size: 16px;    text-align: justify;margin: 10px 24px;">
                    I needed a place where I could complete my degree work in
                    peace which was also close to home and clean too. I have successfully found this after only one day
                    of
                    speaking to him.
                    Would definitely recommend HomeinAbroad.</p>
            </td>

        </tr>

        <tr style="background-color: white; width: 100%; display: flex;">
            <td style="text-align: center; width: 50%;">
                <p style="font-size: 15px;margin: 70px 0 0 20px;font-weight: 800;">24/7 Support Available<br>
                    +61-280069159 / +44-2086388957 </p></td>
            <td style="width: 50%;">
                <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/customer.png"
                     style="width: 82%; margin: 0px 0px 0px 30px;">
            </td>
        </tr>

        <tr style="background-color: #002366; display: flex;width: 100%;;">
            <td style="width:50%;">
                <a target="blank" href="https://www.homeinabroad.com">
                    <img alt="Homeinabroad" style="margin:26px 0 0 0; width: 80px"
                         src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/white-logo.png">
                </a>
                <p style="text-align: justify;color:white;font-size: 10px; margin:20px 20px 0px 0px">Homeinabroad is one
                    stop solutions for student accommodation. We are not just the accommodation provider, we are a
                    company that will support in every steps till you get settled in your accommodations. We have
                    different
                    types of accommodations,
                    starting from PBSA to shared apartments to singe private room for long as well as short term
                    stay.</p>
            </td>

            <td style="width: 50%;text-align: center;">
                <p style="font-size: 11px;    margin: 80px 20px 20px 30px;color: white;">

                    Write us at : support@homeinabroad.com</p>
                <a href="https://www.instagram.com/homeinabroad/" target="blank" style="text-decoration: none;">
                    <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/Instagram.svg">
                </a>
                <a href="https://www.facebook.com/Homeinabroad-100236905128631" target="blank"
                   style="text-decoration: none;">
                    <img src="https://hia-s3-website.s3.eu-west-2.amazonaws.com/media/facilities/Facebook.svg">
                </a>
                <p style="font-size: 11px;opacity: 0.8; padding-bottom: 5%;margin-top:5px;color: white;">&copy;2020 Home
                    in
                    Abroad Inc. | <a href="https://www.homeinabroad.com/terms-and-privacy"
                                     target="blank" style="text-decoration: none;color:white">Terms & Privacy</a></p>
            </td>

        </tr>
    </table>
</table>
</body>
</html>